body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*{
  font-family: 'Cabin', sans-serif;
}

h1{
  color: #80cbc4;
}

.mlr{
  margin: 0 5px;
}